 body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    
} 

h1{
    display: flex;
    color: black;
    margin-right: 900px;
    font-size: 50px;
    text-wrap: wrap;
    flex-direction: column;
    font-family: Poppins;
    font-weight: lighter;
    margin-top: 1%;
    margin-left: 0%;
}
.paniya{
    font-family: Poppins;
    font-weight: bold;
    font-size: 75px;
    margin-left: 0px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.left-side {
    width: 40%;}
.right-side{
    width: 90%;
}

h2{
    display: flex;
    width: 200px;
    color: #fdfcfc;
    background-color: #34363b;
    border-radius: 0px 20px 20px 0px;
    padding: 1%;
}

ul.list > li{
    padding: 2px;
    margin-bottom: 10px;
}

img[alt="My Photo for resume"]{
    display: flex;
    align-items: flex-start;
    border: 5px solid #34363b;
    margin-left: 0px;
    margin-top: 40px;
}
a[class="link"]{
    color: darkgreen;
    font-weight: bold;
}
.Heading{
    display: flex;
    width: auto;
    color: #fdfcfc;
    background-color: #34363b;
    border-radius: 20px 0px 0px 20px;
    padding: 1%;
}

 .details{
    text-align: center;
}
footer{
    text-align: center;
    background-color: #34363b;
    padding: 2%;
    color: whitesmoke;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }   

    .details img {
        width: 80px;
        height: 80px;
        margin-left: 3%;
    }
    .details h1{
        font-size: 50px;
    }

    .left-side {
        border-right: none;
        border-bottom: 4px solid #007bff;
    }

    .left-side, .right-side {
        padding: 15px;

    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .details img {
        width: 80px;
        height: 80px;
        margin-left: 3%;
    }
    .details h1{
        font-size: 50px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px;
    }
}


